.heading1 {
    background-color: rgb(46, 92, 165);
    color: white;
    padding-bottom: 0.5px;
    padding-top: 0.5px;
    padding-left: 30px;
}

.heading2 {
    background-color: rgb(46, 92, 165);
    color: rgb(204, 194, 6);
    margin-top: 1px;
    padding-bottom: 0.5px;
    padding-top: 0.5px;
    padding-left: 30px;
}

.form {
    padding-top: 30px;
}

label {
    font-size: 25px;
    color: rgb(93, 226, 83);
}

input[type=text] {
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    padding: 10px 15px;
    margin: 8px 10px;
    box-sizing: border-box;
    font-size: 20px
}

.getInLine {
    display: inline-block;
}

#demo {
    padding-left: 10px;
}
